<p id="notice"><%= notice %></p>

<h1>Books</h1>
<%= link_to "search" , new_search_path %>
<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>info</th>

      <th colspan="20"></th>
    </tr>
  </thead>

<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
  <tbody>


    <% @books.each do |book| %>
      <tr>
        <td>
    <script type="text/javascript">
      google.books.load();

      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('<%= book.ISBN %>'));
        var str1 = "ISBN:";
        var str2 = <%= book.ISBN %>;
        var res = str1.concat(str2);
        viewer.load(res);
      }

      google.books.setOnLoadCallback(initialize);
    </script>
    <div id= "<%= book.ISBN %>" style="width: 300px; height: 200px"></div>
    </td>

        <td><%= link_to 'Show', book %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<br>

