<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @book.library %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @book.publication_year %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
