<%book = GoogleBooks.search('isbn:'+@book.ISBN.to_s)%>
<% first_book = book.first%>

<div>
<img src = <%= first_book.image_link(:zoom => 2) %> >
</div>

<p id="notice"><%= notice %></p>
<% @book_library = BookLibraryRelation.where(book_id: @book.id) %>
<% @book_library.each do |library| %>

<p>
  <strong>Library:</strong>
  <%= Library.where(id: library.library_id).take.name%>
</p>
<% end %>

<p>
  <strong>ISBN:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<p>
  <strong>Publication Date:</strong>
  <%= first_book.published_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= first_book.title %>
</p>

<p>
  <strong>Author(s):</strong>
  <%= first_book.authors %>
</p>
<p>
  <strong>Description:</strong>
  <%= first_book.description %>
</p>
 <%if admin_logged_in? %>
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%end%>
<%= link_to 'Back', books_path %>
