<!DOCTYPE html>
<html>
  <head>
    <title>BookShelfV02</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if staff_member_signed_in? -%>
            <ul >
              <li><%= link_to 'Submit Library', new_library_path %></li>
              <li><%= link_to 'Submit Admin',  new_admin_path %></li>
              <li><%= link_to 'Sign out', destroy_staff_member_session_path, :method => :delete %></li>
            </ul>
    <%elsif admin_logged_in? %>
      <ul >
        <li><%= link_to 'Submit Book', new_book_path %></li>
        <li><%= link_to 'Submit Category',  new_category_path %></li>
        <li><%= link_to 'Sign out', logout_path, :method => :delete %></li>
      </ul>

    <% else -%>
            <ul >
              <li><%= link_to 'Sign in as staff', new_staff_member_session_path %></li>
              <li><%= link_to 'Sign in as admin', login_path %></li>
            </ul>
    <% end -%>
    <%= yield %>
  </body>
</html>
